.link {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: var(--principal-color-font);
    transition: all 0.7s ease-in-out;
}

.currentLink {
    background-color: var(--dark-blue);
    color: var(--white);
    padding: 0.55rem;
    border-radius: 1rem;
}